<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>구구단</div>
    
      <% for(let number1 of numbers) { %>
        
      <% for(let number2 of numbers) { %>
      <%= number1%> * <%= number2 %> = <%= number1*number2 %>
      <% } %>
      
      <% } %>
    
  </body>
</html>
