.container {
  width: 500px;
  height: 500px;
  background-color: beige;
  position: relative;
}

div > div {
  width: 100px;
  height: 100px;
}

.item1 {
  background-color: blue;
  position: relative; /* 자기 자신 기준*/
  left: 50px;
  top: 30px;
}

.item2 {
  background-color: yellowgreen;
  position: absolute;
  right: 30px;
  bottom: 100px;
}

.item3 {
  background-color: skyblue;
  position: fixed; /* 뷰포트 기준 */
  right: 100px;
  top: 100px;
}
