body {
  background-color: beige;
}

div {
  background-color: blue;
  color: white;
  font-size: 30px;
  width: calc(100vw / 10);
  height: calc(100vw / 10);
  text-align: center;
  line-height: calc(100vw / 10);
  margin: auto;
  margin-top: 45vh;
}
